<h1>Twitter Bootstrap Rails Confirm</h1>

<p>Select Bootstrap version:</p>

<ul>
  <li><%= link_to '2', version_path(2) %></li>
  <li><%= link_to '3', version_path(3) %></li>
  <li><%= link_to '4', version_path(4) %></li>
</ul>
